{% extends 'dsr/user/user_page.html' %}
{% load static %}

{% block usercontent %}
<div class="container mt-4">
  <h2 class="mb-4">CSR Form</h2>
  <form method="post" novalidate>
    {% csrf_token %}
    <div class="row mb-3">
      <div class="col-md-6">
        {{ form.csr_number.label_tag }} {{ form.csr_number }}
      </div>
      <div class="col-md-6">
        {{ form.police_station.label_tag }} {{ form.police_station }}
      </div>
    </div>
    
    <div class="row mb-3">
      <div class="col-md-6">
        {{ form.date_of_receipt.label_tag }} {{ form.date_of_receipt }}
      </div>
      <div class="col-md-6">
        {{ form.place_of_occurrence.label_tag }} {{ form.place_of_occurrence }}
      </div>
    </div>
    
    <div class="row mb-3">
      <div class="col-md-6">
        {{ form.petitioner.label_tag }} {{ form.petitioner }}
      </div>
      <div class="col-md-6">
        {{ form.counter_petitioner.label_tag }} {{ form.counter_petitioner }}
      </div>
    </div>
    
    <div class="mb-3">
      {{ form.nature_of_petition.label_tag }} {{ form.nature_of_petition }}
    </div>

    <div class="mb-3">
      {{ form.gist_of_petition.label_tag }} {{ form.gist_of_petition }}
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
