{% load static %}
<link rel="stylesheet" href="{% static 'dsr/css/sidebars.css' %}">

<section class="d-flex flex-nowrap" id="sidebar">
  <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 250px;">
    <a href="{% url 'admin_dashboard' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <img src="{% static 'dsr/images/tnp.png' %}" alt="Logo" width="40" height="40" class="me-4">
      <span class="fs-4">CSG DSR</span>
    </a>
    <hr>

    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a href="{% url 'admin_dashboard' %}" class="nav-link d-flex align-items-center {% if request.resolver_match.url_name == 'admin_dashboard' %}active{% else %}text-white{% endif %}">
          <i class="bi bi-speedometer2"></i>
          <span class="ms-2">Dashboard</span>
        </a>
      </li>

      <li>
        <a href="{% url 'admin_users_page' %}" class="nav-link d-flex align-items-center {% if request.resolver_match.url_name == 'admin_users_page' %}active{% else %}text-white{% endif %}">
          <i class="bi bi-ui-checks"></i>
          <span class="ms-2">Create/ Update Users</span>
        </a>
      </li>

      <li>
        <a href="{% url 'admin_officers_strength_page' %}" class="nav-link d-flex align-items-center {% if request.resolver_match.url_name == 'admin_officers_strength_page' %}active{% else %}text-white{% endif %}">
          <i class="bi bi-ui-checks"></i>
          <span class="ms-2">Strength Particulars</span>
        </a>
      </li>

      <li>
        <a href="{% url 'admin_MPS_buildings_page' %}" class="nav-link d-flex align-items-center {% if request.resolver_match.url_name == 'admin_MPS_buildings_page' %}active{% else %}text-white{% endif %}">
          <i class="bi bi-ui-checks"></i>
          <span class="ms-2">MPS & Buildings</span>
        </a>
      </li>

      <li>
        <a href="{% url 'admin_other_agencies_page' %}" class="nav-link d-flex align-items-center {% if request.resolver_match.url_name == 'admin_other_agencies_page' %}active{% else %}text-white{% endif %}">
          <i class="bi bi-ui-checks"></i>
          <span class="ms-2">Other Agencies</span>
        </a>
      </li>

      <li>
        <a href="{% url 'admin_seizure_items_page' %}" class="nav-link d-flex align-items-center {% if request.resolver_match.url_name == 'admin_seizure_items_page' %}active{% else %}text-white{% endif %}">
          <i class="bi bi-ui-checks"></i>
          <span class="ms-2">Seizure Items</span>
        </a>
      </li>
    </ul>

    <hr>
    <!-- User Dropdown -->
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{% static 'dsr/images/tnp.png' %}" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>{{ request.user.username }}</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="{% url 'password_change' %}"><i class="bi bi-key me-2"></i> Change Password</a></li>
        <li><a class="dropdown-item" href="{% url 'update_user' %}"><i class="bi bi-person-gear me-2"></i> Update User</a></li>
        <li><hr class="dropdown-divider"></li>
        <li>
          <form action="{% url 'logout' %}" method="post" class="px-3">
            {% csrf_token %}
            <button type="submit" class="dropdown-item text-danger d-flex align-items-center">
              <i class="bi bi-box-arrow-right me-2"></i> Sign Out
            </button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</section>
