{% extends 'dsr/user/user_page.html' %}
{% load static %}
{% block usercontent %} 
<div class="container ">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

    <!-- Cases Registered -->
     {% comment %} csr  {% endcomment %}
    <div class="col">
      <div class="card shadow h-100">
        <div class="card-body text-center">
          <a href="{% url 'csr_form' %}" class="stretched-link text-decoration-none text-dark">
            <h5 class="card-title">CSR </h5>
          </a>
        </div>
      </div>
    </div>

    {% comment %} 194 BNSS  {% endcomment %}
    <div class="col">
      <div class="card shadow h-100">
        <div class="card-body text-center">
          <a href="{% url '194bnss_form' %}" class="stretched-link text-decoration-none text-dark">
            <h5 class="card-title">194 BNSS </h5>
          </a>
        </div>
      </div>
    </div>

    {% comment %} missing  {% endcomment %}
    <div class="col">
      <div class="card shadow h-100">
        <div class="card-body text-center">
          <a href="{% url 'missing_form' %}" class="stretched-link text-decoration-none text-dark">
            <h5 class="card-title">Missing</h5>
          </a>
        </div>
      </div>
    </div>

    {% comment %} Maritime Act {% endcomment %}
    <div class="col">
      <div class="card shadow h-100">
        <div class="card-body text-center">
          <a href="{% url 'maritimeact_form' %}" class="stretched-link text-decoration-none text-dark">
            <h5 class="card-title">Maritime Act </h5>
          </a>
        </div>
      </div>
    </div>

    {% comment %} Other cases {% endcomment %}
    <div class="col">
      <div class="card shadow h-100">
        <div class="card-body text-center">
          <a href="{% url 'othercases_form' %}" class="stretched-link text-decoration-none text-dark">
            <h5 class="card-title">Other Cases</h5>
          </a>
        </div>
      </div>
    </div>

    <!-- Rescue -->
    <div class="col">
      <div class="card shadow h-100">
        <div class="card-body text-center">
          <a href="{% url 'rescue_form' %}" class="stretched-link text-decoration-none text-dark">
            <h5 class="card-title">Rescue</h5>
          </a>
        </div>
      </div>
    </div>

    <!-- Seizure -->
    <div class="col">
      <div class="card shadow h-100">
        <div class="card-body text-center">
          <a href="{% url 'seizure_form' %}" class="stretched-link text-decoration-none text-dark">
            <h5 class="card-title">Seizure</h5>
          </a>
        </div>
      </div>
    </div>

    <!-- Forecast -->
    <div class="col">
      <div class="card shadow h-100">
        <div class="card-body text-center">
          <a href="{% url 'forecast_form' %}" class="stretched-link text-decoration-none text-dark">
            <h5 class="card-title">Forecast</h5>
          </a>
        </div>
      </div>
    </div>

    <!--Attack on TN Fishermen -->
    <div class="col">
      <div class="card shadow h-100">
        <div class="card-body text-center">
          <a href="{% url 'fishermen_attack_form' %}" class="stretched-link text-decoration-none text-dark">
            <h5 class="card-title">Attack on TN Fishermen</h5>
          </a>
        </div>
      </div>
    </div>

    <!--TN Fishermen  Arrest -->
    <div class="col">
      <div class="card shadow h-100">
        <div class="card-body text-center">
          <a href="{% url 'fishermen_arrest_form' %}" class="stretched-link text-decoration-none text-dark">
            <h5 class="card-title">TN Fishermen Arrest</h5>
          </a>
        </div>
      </div>
    </div>

    <!-- Boat & Vehicle Status -->
    <div class="col">
      <div class="card shadow h-100">
        <div class="card-body text-center">
          <a href="{% url 'boat_vehicle_status_form' %}" class="stretched-link text-decoration-none text-dark">
            <h5 class="card-title">Vehicle & Boat Status</h5>
          </a>
        </div>
      </div>
    </div>

    <!-- VVC -->
    <div class="col">
      <div class="card shadow h-100">
        <div class="card-body text-center">
          <a href="{% url 'vvc_form' %}" class="stretched-link text-decoration-none text-dark">
            <h5 class="card-title">VVC</h5>
          </a>
        </div>
      </div>
    </div>

    <!-- Beat -->
    <div class="col">
      <div class="card shadow h-100">
        <div class="card-body text-center">
          <a href="{% url 'beat_form' %}" class="stretched-link text-decoration-none text-dark">
            <h5 class="card-title">Beat</h5>
          </a>
        </div>
      </div>
    </div>

    <!-- Proforma -->
    <div class="col">
      <div class="card shadow h-100">
        <div class="card-body text-center">
          <a href="{% url 'proforma_form' %}" class="stretched-link text-decoration-none text-dark">
            <h5 class="card-title">Proforma</h5>
          </a>
        </div>
      </div>
    </div>

    <!-- Boat Patrol -->
    <div class="col">
      <div class="card shadow h-100">
        <div class="card-body text-center">
          <a href="{% url 'boat_patrol_form' %}" class="stretched-link text-decoration-none text-dark">
            <h5 class="card-title">Boat Patrol</h5>
          </a>
        </div>
      </div>
    </div>

    <!-- Vehicle Check -->
    <div class="col">
      <div class="card shadow h-100">
        <div class="card-body text-center">
          <a href="{% url 'vehicle_check_form' %}" class="stretched-link text-decoration-none text-dark">
            <h5 class="card-title">Vehicle Check</h5>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}
